<div class="container container-fluid task-details-container" style="max-width:100%">
	<div class="row page-head">
	  <div class="col-lg-12">
	    <span class="breadcrumbs">
	      <a>Home</a> / 
	      <a ui-sref="dashboard.projects" ui-sref-opts="{reload: true, inherit: false}">Projects</a>/
	      <a>View Project</a></span>  
	  </div>
	  <div class="col-lg-12">
	    <span class="page-head-title">View Project</span>
	  </div>
	</div>

	<div class="row main-layout">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-8">
							Project Details for #{{project.id}}
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<b>Project ID</b>: {{project.id}} <br>
							<b>Name</b>: {{project.name}} <br>
							<b>Description</b>: {{project.description}} 
						</div>
						<div class="col-lg-6">
							<b>Created At</b>: {{project.created_at | amDateFormat:'D MMM YYYY hh:mm a'}} <br>
							<b>Completed On</b>: {{project.completed_on | amDateFormat:'D MMM YYYY hh:mm a'}} <br>
						</div>
					</div>

					<hr>
					<div class="row">
						<div class="col-lg-12">
							<h4>Task Details</h4>
						</div>
						<div class="col-lg-12" ng-repeat="task in project.tasks">
							<div class="card">
								<div class="card-header">
									<div class="row">
										<div class="col-lg-10">
											{{task.name}}
											<span ng-show="task.completed"><i class="fa fa-check" aria-hidden="true"></i></span>
											<span ng-show="!task.completed"><i class="fa fa-times" aria-hidden="true"></i></span>								
										</div>
										<div class="col-lg-2">
											<div class="btn-group" uib-dropdown is-open="status.isopen">
		                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
		                      Actions<span class="caret"></span>
		                    </button>
		                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
		                      <li role="menuitem"><a href="" ng-click="endTask(task.id)" ng-show="!task.completed">Complete</a></li>
		                      <li role="menuitem"><a href="#/dashboard/tasks/{{task.id}}/update">Update</a></li>
		                      <li role="menuitem"><a href="" ng-click="deleteTask(task.id)">Delete</a></li>
		                    </ul>
		                  </div>

										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="col-lg-6">
										<div class="card-title">
											<b>Details: </b>{{task.description}}
										</div>
										<div class="card-title">
											<b>Completed On: </b>{{task.completed_on | amDateFormat:'D MMM YYYY hh:mm a'}}
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>