body {
    background-color: rgb(240, 242, 245);
    color: rgba(0, 0, 0, 0.65);
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 0px;
    min-height: 568px;
    background-color: rgb(240, 242, 245);
}

@media(min-width:728px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 240px;
        padding: 0 0px;
    }
}
.navbar-default{
    border:none;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
    color: inherit;
    cursor: pointer;
    line-height: 33px;
}

.navbar-top-links li a:active, .navbar-top-links li a:hover{
    color: black;
    
}

.navbar-top-links li:hover{
        background: #e6f7ff;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    line-height: 40px;
    min-height: 40px;
    /*border-bottom: 1px solid #e7e7e7;*/
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
    margin-top: 6px;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level{
    background: #000c17;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
    padding-left: 30px;
}

.sidebar .nav-second-level>li:hover>a{
    color: white;
}

.sidebar .nav-second-level>li.active>a{
    color: white;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: fixed;
        width: 240px;
        height: 900px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 50px;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
    margin-top: 21px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.sidebar-nav>li:hover>a{
    color: rgb(255, 255, 255);
}
.sidebar-nav{
    -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.sidebar-nav li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
    padding: 0 0 0 30px;
}
.sidebar-nav li.active{
    background-color: #1890ff;
    color:white;
}
.main-layout{
    padding: 25px;
    background-color: white;
    border-radius: 2px;
    margin: 25px;
    min-height: 580px;
}
.navbar-brand, .navbar-brand:hover{
    float: none;
    background-color: #002140 !important;
    line-height: 36px;
    margin-bottom: 28px;
    text-align: center;
    height: 63px;
}
.navbar-brand a:hover{
    text-decoration: none;
}
.top-header{
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    margin-left: 240px;
    height: 63px;
}

.panel{
    box-shadow: none;
    border:none;
    margin:0;
}

.pagination>li, .pagination>li.active{
    color: rgba(0, 0, 0, 0.65);
    list-style: none;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-right:8px;
    display: inline-block;
    vertical-align: middle;
}   
.pagination>li.active>a{
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}
.pagination>li.active>a:hover{
    background-color: #40a9ff;
    border-color: #40a9ff;
}
.pagination>li>a{
    border-radius: 4px;
    border-color: #d9d9d9;
    color: inherit;
}
.pagination>li>a:hover{
    border-color: #1890ff;
    color: #1890ff;
    background-color: white;
}

.page-head{
    background-color: white;
    padding:25px;
    border-bottom: 1px solid #e8e8e8;
}
.page-head .breadcrumbs a{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
}
.page-head .breadcrumbs a:hover{
    text-decoration: none;
    color:#40a9ff;;
}
.page-head .breadcrumbs a:last-child{
    color: rgba(0, 0, 0, 0.65);
    cursor: text;
}