<div class="container container-fluid task-details-container" style="max-width:100%">
	<div class="row page-head">
	  <div class="col-lg-12">
	    <span class="breadcrumbs">
	      <a>Home</a> / 
	      <a ui-sref="dashboard.tasks" ui-sref-opts="{reload: true, inherit: false}">Tasks</a>/
	      <a>View Task</a></span>  
	  </div>
	  <div class="col-lg-12">
	    <span class="page-head-title">View Task</span>
	  </div>
	</div>

	<div class="row main-layout">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-8">
							Task Details for #{{task.id}}
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<b>Task ID</b>: {{task.id}} <br>
							<b>Name</b>: {{task.name}} <br>
							<b>Description</b>: {{task.description}} 
						</div>
						<div class="col-lg-6">
							<b>Created At</b>: {{task.createdAt | amDateFormat:'D MMM YYYY hh:mm a'}} <br>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>